In [ ]:
import pandas as pd

import nltk
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('omw-1.4')

from nltk.corpus import wordnet
from nltk.corpus.reader import NOUN
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [ ]:
unseen_dataset_df = pd.read_excel('/content/drive/MyDrive/SPML-Thesis_Data/Models/3-Template_Model/datasetAnalysis/dataset/Peter/Final.xlsx', names=['img_id', 'question', 'answer', 'template'])

unseen_dataset_df['qa_index'] = unseen_dataset_df['qa_index'].astype(int)
unseen_dataset_df['img_id'] = unseen_dataset_df['img_id'].astype(int)
# unseen_dataset_df['template'] = unseen_dataset_df['template'].astype(int)

In [ ]:
unseen_dataset_df

         img_id                            question answer  template
0    1653556733    how many books are on the floor?   four         0
1    1653556744    how many books are on the floor?   four         0
2    1653556755    how many books are on the floor?   four         0
3    1653556766  how many books are under the desk?   four         0
4    1653556778           what is behind the books?   desk         4
..          ...                                 ...    ...       ...
914  1654268341             where is the hairbrush?   bear         1
915  1654268352             where is the hairbrush?   bear         1
916  1654268363             where is the hairbrush?   bear         1
917  1654268405                  where is the bowl?  plate         1
918  1654268458               what is the plate on?  table         5

[919 rows x 4 columns]

In [ ]:

template_1 = unseen_dataset_df[unseen_dataset_df['template'] == 1] 
template_4 = unseen_dataset_df[unseen_dataset_df['template'] == 4] 
template_5 = unseen_dataset_df[unseen_dataset_df['template'] == 5] 
template_0 = unseen_dataset_df[unseen_dataset_df['template'] == 0]

In [ ]:
template_1

         img_id                 question answer  template
7    1653556812     where are the books?  floor         1
8    1653556834     where are the books?  floor         1
16   1653557121     where are the books?  floor         1
22   1653557611     where are the books?  floor         1
27   1653557667     where is the window?   desk         1
..          ...                      ...    ...       ...
909  1654267746   where is the umbrella?  glass         1
914  1654268341  where is the hairbrush?   bear         1
915  1654268352  where is the hairbrush?   bear         1
916  1654268363  where is the hairbrush?   bear         1
917  1654268405       where is the bowl?  plate         1

[194 rows x 4 columns]

In [ ]:
template_4

         img_id                      question    answer  template
4    1653556778     what is behind the books?      desk         4
10   1653557054     what is behind the books?      desk         4
11   1653557065     what is next to the desk?    window         4
24   1653557634     what is behind the books?    window         4
26   1653557656     what is behind the books?    window         4
..          ...                           ...       ...       ...
908  1654267704  what is next to the glasses?    remote         4
910  1654267779         what is in the glass?  umbrella         4
911  1654268001      what is under the spoon?    orange         4
912  1654268011      what is under the spoon?    orange         4
913  1654268320          what is in the bowl?      bear         4

[384 rows x 4 columns]

In [ ]:
template_5

         img_id                        question    answer  template
32   1653557755       what is the book next to?  backpack         5
133  1653578068    what is the handbag between?      hats         5
135  1653578089    what is the handbag between?      hats         5
271  1654156095           what is the knife in?     glass         5
314  1654160113      what is the teddy bear on?        tv         5
316  1654160245      what is the teddy bear on?        tv         5
330  1654160802          what is the laptop on?   cabinet         5
380  1654174391      what is the monitor under?      desk         5
402  1654180930          what is the remote on?  umbrella         5
459  1654237550         what is the handbag on?   cabinet         5
480  1654238176          what is the teapot on?      cart         5
507  1654243416  what is the chair in front of?      door         5
521  1654243850          what is the remote on?     table         5
530  1654244220        what is the umbrella on?      wall         5
546  1654244729      what is the toothbrush on?      bear         5
547  1654244740      what is the toothbrush on?      bear         5
588  1654260554             what is the hat on?     clock         5
642  1654261865          what is the carrot on?     table         5
700  1654265428             what is the hat on?     couch         5
746  1654267069           what is the knife on?       hat         5
779  1654268373       what is the hairbrush on?      bear         5
780  1654268384       what is the hairbrush on?      bear         5
784  1654268458           what is the plate on?     table         5
817  1654156095           what is the knife in?     glass         5
839  1654174718            what is the book on?     chair         5
840  1654174730            what is the book on?     chair         5
841  1654174806            what is the book on?     chair         5
861  1654238187          what is the teapot on?      cart         5
918  1654268458           what is the plate on?     table         5

In [ ]:
template_0

         img_id                                     question answer  template
0    1653556733             how many books are on the floor?   four         0
1    1653556744             how many books are on the floor?   four         0
2    1653556755             how many books are on the floor?   four         0
3    1653556766           how many books are under the desk?   four         0
5    1653556789             how many books are on the floor?   four         0
..          ...                                          ...    ...       ...
881  1654247110  how many clocks are in front of the bottle?    two         0
896  1654263362                  how many glasses are there?   four         0
902  1654265492     how many glasses are under the scissors?    two         0
905  1654266994             how many spoons are in the bowl?    one         0
907  1654267134             how many apples are on the book?    two         0

[312 rows x 4 columns]

In [ ]:
for ind in template_0.index:
    if(template_0.loc[ind]['question'].startswith('what are the')):
      template_0['template'].loc[ind] = 13

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
template_13 = template_0[template_0['template'] == 13] 
template_0 = template_0[template_0['template'] == 0]

In [ ]:
template_13

         img_id                     question    answer  template
30   1653557733  what are the books next to?      desk        13
31   1653557744  what are the books next to?  backpack        13
328  1654160731       what are the bowls on?     couch        13
366  1654173944       what are the books on?     chair        13
375  1654174277       what are the books on?   cabinet        13
391  1654174806      what are the spoons on?     chair        13
398  1654180837       what are the books on?     couch        13
447  1654237197       what are the books on?     table        13
471  1654238025     what are the remotes on?     table        13
768  1654267895       what are the books on?   cabinet        13
829  1654160720       what are the bowls on?     couch        13
860  1654238166       what are the bowls on?      cart        13
870  1654244306    what are the books under?        tv        13

In [ ]:
template_0

         img_id                                     question answer  template
0    1653556733             how many books are on the floor?   four         0
1    1653556744             how many books are on the floor?   four         0
2    1653556755             how many books are on the floor?   four         0
3    1653556766           how many books are under the desk?   four         0
5    1653556789             how many books are on the floor?   four         0
..          ...                                          ...    ...       ...
881  1654247110  how many clocks are in front of the bottle?    two         0
896  1654263362                  how many glasses are there?   four         0
902  1654265492     how many glasses are under the scissors?    two         0
905  1654266994             how many spoons are in the bowl?    one         0
907  1654267134             how many apples are on the book?    two         0

[299 rows x 4 columns]

In [ ]:
for ind in template_0.index:
  if(template_0.loc[ind]['question'].startswith('how many') and (template_0.loc[ind]['question'].split(' ')[3] == 'are' or template_0.loc[ind]['question'].split(' ')[4] == 'are' )and 'there' not in template_0.loc[ind]['question']):
    template_0['template'].loc[ind] = 14

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
template_14 = template_0[template_0['template'] == 14] 
template_0 = template_0[template_0['template'] == 0]

In [ ]:
template_14

         img_id                                     question answer  template
0    1653556733             how many books are on the floor?   four        14
1    1653556744             how many books are on the floor?   four        14
2    1653556755             how many books are on the floor?   four        14
3    1653556766           how many books are under the desk?   four        14
5    1653556789             how many books are on the floor?   four        14
..          ...                                          ...    ...       ...
879  1654244931             how many spoons are on the book?  three        14
881  1654247110  how many clocks are in front of the bottle?    two        14
902  1654265492     how many glasses are under the scissors?    two        14
905  1654266994             how many spoons are in the bowl?    one        14
907  1654267134             how many apples are on the book?    two        14

[251 rows x 4 columns]

In [ ]:
template_0

         img_id                         question answer  template
15   1653557110        how many books are there?  three         0
17   1653557132        how many books are there?  three         0
18   1653557566        how many books are there?  three         0
19   1653557577        how many books are there?  three         0
20   1653557588        how many books are there?  three         0
21   1653557600        how many books are there?  three         0
23   1653557623        how many books are there?  three         0
25   1653557645        how many books are there?  three         0
29   1653557690        how many books are there?    two         0
127  1653577790        how many shoes are there?   four         0
170  1654083726      how many bottles are there?  three         0
272  1654156106      how many glasses are there?    one         0
273  1654156167       how many knives are there?    one         0
303  1654159831       how many spoons are there?   five         0
409  1654182314       how many clocks are there?    one         0
410  1654182396        how many bowls are there?   four         0
446  1654237120        how many books are there?  three         0
449  1654237369    how many umbrellas are there?    one         0
450  1654237380    how many umbrellas are there?    one         0
469  1654237870      how many remotes are there?    two         0
485  1654238313       how many clocks are there?    one         0
486  1654238324       how many clocks are there?    one         0
490  1654238400      how many bottles are there?    two         0
527  1654243936       how many spoons are there?  three         0
528  1654244057       how many knives are there?    two         0
529  1654244178       how many spoons are there?  three         0
553  1654244836      how many remotes are there?    one         0
554  1654244846      how many remotes are there?    one         0
555  1654244857      how many remotes are there?    one         0
591  1654260608       how many clocks are there?    two         0
595  1654260738     how many scissors are there?  three         0
596  1654260749     how many scissors are there?  three         0
602  1654260825     how many scissors are there?  three         0
626  1654261621       how many apples are there?    two         0
627  1654261632       how many apples are there?    two         0
636  1654261770  how many hairbrushes are there?    two         0
640  1654261844      how many carrots are there?    one         0
641  1654261855      how many carrots are there?    one         0
674  1654263362      how many glasses are there?   four         0
675  1654263405      how many glasses are there?   four         0
688  1654263681      how many glasses are there?   four         0
690  1654263702      how many glasses are there?    two         0
694  1654263765      how many bottles are there?    two         0
695  1654263775      how many bottles are there?    two         0
696  1654263786         how many hats are there?    one         0
848  1654182522       how many spoons are there?    one         0
863  1654238313       how many clocks are there?    one         0
896  1654263362      how many glasses are there?   four         0

In [ ]:
for ind in template_0.index:
  if(template_0.loc[ind]['question'].startswith('how many') and template_0.loc[ind]['question'].endswith('are there?')):
    template_0['template'].loc[ind] = 15

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
template_15 = template_0[template_0['template'] == 15] 
template_0 = template_0[template_0['template'] == 0]

In [ ]:
template_15

         img_id                         question answer  template
15   1653557110        how many books are there?  three        15
17   1653557132        how many books are there?  three        15
18   1653557566        how many books are there?  three        15
19   1653557577        how many books are there?  three        15
20   1653557588        how many books are there?  three        15
21   1653557600        how many books are there?  three        15
23   1653557623        how many books are there?  three        15
25   1653557645        how many books are there?  three        15
29   1653557690        how many books are there?    two        15
127  1653577790        how many shoes are there?   four        15
170  1654083726      how many bottles are there?  three        15
272  1654156106      how many glasses are there?    one        15
273  1654156167       how many knives are there?    one        15
303  1654159831       how many spoons are there?   five        15
409  1654182314       how many clocks are there?    one        15
410  1654182396        how many bowls are there?   four        15
446  1654237120        how many books are there?  three        15
449  1654237369    how many umbrellas are there?    one        15
450  1654237380    how many umbrellas are there?    one        15
469  1654237870      how many remotes are there?    two        15
485  1654238313       how many clocks are there?    one        15
486  1654238324       how many clocks are there?    one        15
490  1654238400      how many bottles are there?    two        15
527  1654243936       how many spoons are there?  three        15
528  1654244057       how many knives are there?    two        15
529  1654244178       how many spoons are there?  three        15
553  1654244836      how many remotes are there?    one        15
554  1654244846      how many remotes are there?    one        15
555  1654244857      how many remotes are there?    one        15
591  1654260608       how many clocks are there?    two        15
595  1654260738     how many scissors are there?  three        15
596  1654260749     how many scissors are there?  three        15
602  1654260825     how many scissors are there?  three        15
626  1654261621       how many apples are there?    two        15
627  1654261632       how many apples are there?    two        15
636  1654261770  how many hairbrushes are there?    two        15
640  1654261844      how many carrots are there?    one        15
641  1654261855      how many carrots are there?    one        15
674  1654263362      how many glasses are there?   four        15
675  1654263405      how many glasses are there?   four        15
688  1654263681      how many glasses are there?   four        15
690  1654263702      how many glasses are there?    two        15
694  1654263765      how many bottles are there?    two        15
695  1654263775      how many bottles are there?    two        15
696  1654263786         how many hats are there?    one        15
848  1654182522       how many spoons are there?    one        15
863  1654238313       how many clocks are there?    one        15
896  1654263362      how many glasses are there?   four        15

In [ ]:
template_0

Empty DataFrame
Columns: [img_id, question, answer, template]
Index: []

In [ ]:
with pd.ExcelWriter('/content/drive/MyDrive/thesis/datasetAnalysis/dataset/Peter/Templates_30_08_22-7_50.xlsx') as writer: 
  template_1.to_excel(writer, sheet_name='template_1')
  template_4.to_excel(writer, sheet_name='template_4')
  template_5.to_excel(writer, sheet_name='template_5')
  template_13.to_excel(writer, sheet_name='template_13')
  template_14.to_excel(writer, sheet_name='template_14')
  template_15.to_excel(writer, sheet_name='template_15')